body{
    background-color: rgb(174, 174, 174);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(138, 138, 138);
}
#setAlarm {
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  
#inputContainer {
    display: flex;
    justify-content: space-between;
} 
.inputGroup {
    flex: 1;
    margin: 20px;
    background-color: #e7e6e6;
    border-radius: 2px;
    padding-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
} 
input {
    border: none;
    width: 80px;
    height: 40px;
    font-size: 20px;
}
input::placeholder {
  color: #2d2e35;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
} 
#countdown {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
} 
#buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
} 
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 8px;
} 
#setButton {
    background-color: #78c5d4;
} 
#clearButton {
    background-color: #feafbb;
}
